In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import util

In [2]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
dtype = {
    'V1': 'string',
    'OiKP1': 'Int64',
    'OiKP2': 'Int64',
    'OiKP3': 'Int64',
    'OiKP4': 'Int64',
    'OiKP5': 'Int64',
}


df = pd.read_csv(
    ext / 'prd_v2.0.0_Form3.csv',
    usecols = [*dtype],
    dtype = dtype,
#     index_col = 'V1'
)
# df

In [3]:
df1 = util.multiple_response(df, prefix='OiKP', wide=True)
df1.to_excel(inter / 'oikp.xlsx')

In [4]:
df1

        1   2   3   4   98
V1
219002   1   0   0   0   0
219003   1   1   1   1   0
219006   0   0   0   0   1
219010   0   0   0   0   1
319002   0   0   1   0   0
...     ..  ..  ..  ..  ..
519081   0   0   0   0   1
519083   1   0   0   0   0
519086   1   0   0   0   0
519088   0   0   0   1   0
520018   0   0   0   0   1

[110 rows x 5 columns]