In [1]:
import pandas as pd
from pathlib import Path

In [7]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
s = 'NguVoiBaMe	NguRieng	NguRiengTuoi	NguVoiPet	Lop	SiSoLop	TruongAnTrua	TruongUong	TruongTieuTien	TruongDaiTien	TruongNgu'
k = s.split('	')
v = ['Int64']*64
dtype = {k:v for (k, v) in zip(s.split('	'), v)}
dtype['V1'] = 'string'

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form2.csv',
    usecols = [*dtype],
    dtype = dtype,
    index_col = 'V1'
)

In [4]:
df[df.loc[:, df.columns != 'NguRiengTuoi'].isna().any(axis=1)]

,NguVoiBaMe,NguRieng,NguRiengTuoi,NguVoiPet,Lop,SiSoLop,TruongAnTrua,TruongUong,TruongTieuTien,TruongDaiTien,TruongNgu
V1,,,,,,,,,,,
219009,1,0,<NA>,0,1,<NA>,0,0,1,0,0
219012,1,0,<NA>,0,2,<NA>,0,0,1,1,0
319001,1,0,<NA>,0,7,<NA>,1,1,<NA>,<NA>,1
319048,1,0,<NA>,0,2,<NA>,1,1,1,1,1
319055,1,0,<NA>,0,6,<NA>,0,0,1,0,0
319061,1,0,<NA>,0,<NA>,52,1,1,1,0,1
319080,1,0,<NA>,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
319084,1,0,<NA>,0,4,<NA>,1,1,1,1,1
319089,1,0,<NA>,0,0,<NA>,1,1,1,1,1
319091,1,0,<NA>,0,5,<NA>,1,1,1,1,1
319140,1,1,3,0,3,<NA>,0,1,1,1,0
519001,1,0,<NA>,0,0,25,1,<NA>,<NA>,<NA>,<NA>
519003,1,0,<NA>,0,3,50,0,1,0,<NA>,0
519009,1,0,<NA>,0,<NA>,39,1,1,1,1,1
519013,0,1,11,0,8,<NA>,0,0,1,1,0
519026,1,1,<NA>,0,9,<NA>,0,0,1,0,0
519035,1,0,<NA>,0,5,<NA>,1,1,1,1,1
519038,0,1,3,0,7,<NA>,0,0,1,0,0
519045,0,0,<NA>,0,2,<NA>,0,0,1,1,0
519047,1,0,<NA>,0,4,<NA>,0,0,1,1,0
519062,1,0,<NA>,0,<NA>,37,0,0,1,1,0
519068,1,0,<NA>,0,9,<NA>,0,0,1,1,0
519069,1,0,<NA>,0,<NA>,39,0,1,1,1,0
319214,1,1,13,0,9,<NA>,0,0,1,1,0
319227,1,0,<NA>,0,4,<NA>,0,1,1,1,0
319228,1,0,<NA>,0,1,<NA>,1,1,1,1,1
319234,1,0,<NA>,0,3,<NA>,0,0,1,0,0
319147,1,0,<NA>,0,<NA>,38,1,1,1,1,1
319164,1,0,<NA>,0,<NA>,30,0,0,1,0,0
319167,0,1,8,0,8,<NA>,0,0,1,1,0
319188,1,1,6,0,1,50,0,0,0,0,<NA>
319193,1,0,<NA>,0,4,<NA>,1,1,1,1,1
319194,1,0,<NA>,0,<NA>,24,1,1,1,1,1
319209,1,1,2,0,1,<NA>,1,1,1,1,1
319219,1,0,<NA>,0,0,<NA>,1,1,1,1,1
319221,1,0,<NA>,0,5,<NA>,0,1,1,1,0
319223,0,<NA>,<NA>,0,6,38,0,0,1,0,0
319231,0,0,<NA>,0,<NA>,55,<NA>,0,1,1,1
319111,1,1,7,0,3,<NA>,0,1,1,1,0
517073,0,1,8,0,4,25,0,0,1,<NA>,0
519082,0,0,<NA>,0,4,<NA>,0,0,1,1,0
519086,0,0,<NA>,0,<NA>,43,1,1,1,1,1
519089,<NA>,1,11,0,9,37,0,0,1,1,0

In [5]:
df[(df.NguRieng == 1) & (df.NguRiengTuoi.isna())]

,NguVoiBaMe,NguRieng,NguRiengTuoi,NguVoiPet,Lop,SiSoLop,TruongAnTrua,TruongUong,TruongTieuTien,TruongDaiTien,TruongNgu
V1,,,,,,,,,,,
219004,1,1,<NA>,0,5,39,0,1,1,0,0
519026,1,1,<NA>,0,9,<NA>,0,0,1,0,0

In [8]:
df.to_excel(inter / 'form2ef.xlsx')