In [2]:
import pandas as pd
from pathlib import Path

In [3]:
ext = Path('/home/kyo/Documents/project/prd/data/external')
inter = Path('/home/kyo/Documents/project/prd/data/intermediate')
s = 'RuaTayTruocAn	RuaTaySauVS	DiChanDat	DungChungKhan	DungChungBC	CanMongTay	DanhRang'
k = s.split('	')
v = ['Int64']*64
dtype = {k:v for (k, v) in zip(s.split('	'), v)}
dtype['V1'] = 'string'

df = pd.read_csv(
    ext / 'prd_v2.0.0_Form2.csv',
    usecols = [*dtype],
    dtype = dtype,
    index_col = 'V1'
)

In [6]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [RuaTayTruocAn, RuaTaySauVS, DiChanDat, DungChungKhan, DungChungBC, CanMongTay, DanhRang]
Index: []

In [4]:
df.to_excel(inter / 'form2d.xlsx')